@font-face {
    font-family: 'Electrolize';
    src: url('./assets/fonts/Electrolize-Regular.ttf');
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Regular.ttf');
    font-family: 'Lato bold';
    src: url('./assets/fonts/Lato-Bold.ttf');
}

.custom-h3 {
    color: rgb(6, 57, 108);
    font-family: 'Electrolize';
    font-size: 40px;
    font-weight: bold;
}

.text {
    font-family: 'Lato';
    font-size: 28px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

.custom-header {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/img/header.jpg);
    background-position: 50%;
    width: 100%;
}

.blue-box {
    margin: 0;
    background-color: rgb(6, 57, 108, 0.72);
    height: 100vh;
    width: 100%;
}

.custom-h1 {
    font-size: 108px;
    font-family: 'Electrolize';
    font-weight: 1000;
}

/* NAVBAR */

.custom-navbar {
    background-color: rgb(6, 57, 108);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    height: 30px;
}

.nav-span {
    height: 100%;
    position: relative;
    margin-left: 60px;
    padding-right: 10px;
}

.nav-span:before,
.nav-span-link:before {
    content: "";
    left: -30px;
    top: 4px;
    position: absolute;
    height: 60%;
    width: 2px;
    background-color: white;
}

.nav-span-link:before {
    left: -15px;
}

.nav-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-span-link {
    margin-left: 30px;
    position: relative;
}

@media screen and (max-width: 768px) {

    .nav-container-logo {
        width: 50px;
    }

    .nav-span,
    .nav-span-link {
        text-align: center;
        font-size: 12px;
    }

    .nav-span {
        margin-left: 20px;
    }

    .nav-span:before {
        left: -10px;
    }

    .nav-span-link {
        margin-left: 18px;
        position: relative;
    }

    .nav-span-link:before {
        left: -10px;
    }

}

/* MEGALOREM-SECTION */


.custom-h2 {
    margin: 0%;
    padding: 90px 0px 70px 45px;
    font-size: 80px;
    font-family: 'Electrolize';
    font-weight: 500;
}


.info-box-left {
    padding: 20px 20px 20px 6%;
}

.info-box-center {
    padding: 20px 4% 20px 4%;
}

.info-box-right {
    padding: 20px 6% 150px 20px;
}

.megalorem-p-info {
    padding: 0 15px 30px 15px;
    position: relative;
    height: 215px;
    margin: 0;
}

.megalorem-p-info:before {
    top: -50px;
    left: -47px;
    content: "\275D";
    color: rgb(6, 57, 108);
    position: absolute;
    font-size: 90px;
    font-family: "Lato";
}

.megalorem-span-title {

    padding: 0 15px 30px 15px;
    font-size: 28px;
    font-family: "Lato bold";
    color: rgb(6, 57, 108);
    font-weight: 1000;
}

.megalorem-span-subtitle {

    padding: 0 15px 30px 15px;
    font-size: 22px;
    font-family: "Lato";
    font-weight: 1000;
}


@media screen and (max-width: 1755px) {

    .megalorem-p-info {
        height: 375px;
    }
}

@media screen and (max-width: 1340px) {

    .info-box {
        padding: 20px 20px 150px 6%;
    }
}

@media screen and (max-width: 992px) {

    .megalorem-p-info {
        height: 375px;
    }

}

@media screen and (max-width: 772px) {

    .custom-h2 {
        margin: 0%;
        padding: 20px 20px 20px 20px;
        font-size: 60px;
    }

    .megalorem-p-info {
        height: 350px;
    }

    .megalorem-p-info:before {
        left: -22px;
        font-size: 60px;

    }
}

/* POWER-LOREM-SECTION */


.section-p-background {
    background-image: url(./assets/img/power-plant-4712830_1280.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top;
    height: 690px;
}

.blue-box-section-p {
    position: relative;
    margin: 0;
    background-color: rgb(6, 57, 108, 0.5);
    width: 100%;
    height: 690px;
}

.section-p-icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 50px;
}

.section-p-custom-h2 {
    position: absolute;
    top: 56px;
    left: 43px;
    font-size: 110px;
    font-family: "Electrolize";
}

@media screen and (max-width: 998px) {

    .section-p-custom-h2 {
        font-size: 50px;
    }

    .section-p-text {
        font-size: 20px;
    }

}

/* OVERLAP-SECTION */

.section-o-background {
    position: relative;
    height: 1050px;
}

.section-o-blue-box {
    background-color: rgb(6, 57, 108);
    position: absolute;
    width: 53%;
    left: 90px;
    top: -137px;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.section-o-blue-box-title,
.section-o-white-box-title {
    font-size: 45px;
    padding-bottom: 30px;
}

.section-o-white-box-text {
    padding: 17px 100px 114px 0px;
    font-size: 21px;
}

.section-o-white-box {
    color: black;
    position: absolute;
    width: 47%;
    right: 0;
    top: 0px;
    display: flex;
    flex-direction: column;
    padding: 100px;
    height: 1100px;
}

@media screen and (max-width: 1650px) {

    .section-o-background {
        display: flex;
        flex-direction: column;
        height: 2080px;
    }

    .section-o-blue-box,
    .section-o-white-box {
        border: 0;
        position: static;
        width: 100%;
        padding: 40px;
    }


}

@media screen and (max-width: 998px) {

    .section-o-background {
        display: flex;
        flex-direction: column;
        height: 1675px;
    }
}

@media screen and (max-width: 768px) {
    .section-o-white-box {
        padding: 10px 10px;
    }

    .section-o-white-box-text {
        padding: 10px;
    }
}


/* DESCRIPTION-SECTION */


.section-d-text {
    font-size: 28px;
    font-family: 'Lato';
}

.section-d-button {
    background-color: rgb(6, 57, 108);
    color: white;
    width: 185px;
    font-size: 25px;
}

.section-d-map-container {
    display: flex;
}

.section-d-right-box,
.section-d-left-box {
    width: 50%;
}

.section-d-img {
    height: 400px;
}

@media screen and (max-width: 1650px) {

    .section-d-left-box {
        padding-right: 180px;
    }

}

@media screen and (max-width: 1200px) {

    .section-d-map-container {
        flex-direction: column;
    }

    .section-d-right-box,
    .section-d-left-box {
        width: 100%;
        padding-right: 0px;
    }
}

@media screen and (max-width: 992px) {


    .section-d-img {
        height: 250px;
    }
}

@media screen and (max-width: 768px) {

    .section-d-background {
        padding: 10px 10px;
    }

    .section-d-img {
        height: 180px;
    }
}



/* FOUR-CARDS-SECTION */

.container-four-cards:first-child{
    padding-top: 200px !important;
}

.section-fc-row .col-12{
    margin-top: 100px !important;
}



.section-fc-allboxes-absolute::before {
    content: "";
    background: linear-gradient(to right, rgb(136, 160, 184) 0%, rgba(136, 160, 184, 0.486) 25%, rgba(136, 160, 184, 0) 65%);
    height: 250px;
    width: 65%;
    position: absolute;
    top: -30px;
    left: -30px;

}

.section-fc-allboxes-absolute {
    position: relative;
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 30px;

}

.section-fc-allboxes-absolute span {
    position: relative;
    z-index: 10;
}


.section-fc-title {
    font-size: 45px;
}

.section-fc-topleft-absolute {
    background-image: url(./assets/img/gas.png);
}

.section-fc-topright-absolute {
    background-image: url(./assets/img/sun.png);
}

.section-fc-bottomleft-absolute {
    background-image: url(./assets/img/wind.png);
}

.section-fc-bottomright-absolute {
    background-image: url(./assets/img/wave.png);
}