@font-face {
    font-family: 'Electrolize'; 
    src: url('./assets/fonts/Electrolize-Regular.ttf');
}
    
@font-face    {font-family: 'Lato'; 
    src: url('./assets/fonts/Lato-Regular.ttf');
}


/* HEADER */

.custom-header{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/img/header.jpg);
    background-position: 50%;
    width: 100%;
}

.blue-box {
    margin: 0;
    background-color: rgb(6, 57, 108, 0.72);
    height: 100vh;
    width: 100%;
}

.custom-h1 {
    font-size: 108px;
    font-family: 'Electrolize';
    font-weight: 1000;
}

/* NAVBAR */

.custom-navbar {
    background-color: rgb(6, 57, 108);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    height: 30px;
}

.nav-span {
    height: 100%;
    position: relative;
    margin-left: 60px;
    padding-right: 10px;
}

.nav-span:before, .nav-span-link:before {
    content: "";
    left: -30px;
    top: 4px;
    position: absolute;
    height: 60%;
    width: 2px;
    background-color: white;
}

.nav-span-link:before {
    left: -15px;
}

.nav-list {
    padding:0; 
    margin:0;
    display: flex;
    list-style: none;
    justify-content:center;
}

.nav-span-link {
    margin-left: 30px;
    position: relative;
}

@media screen and (max-width: 768px) {

    .nav-container-logo {
        width: 50px;
    }

    .nav-span,.nav-span-link {
        text-align: center;
        font-size: 12px;
    }

    .nav-span {
        margin-left: 20px;
    }

    .nav-span:before {
        left: -10px;
    }

    .nav-span-link {
        margin-left: 18px;
        position: relative;
    }
    .nav-span-link:before {
        left: -10px;
    }
    
}